.DS_Store
node_modules
/global-ioc-charts/iocCharts.common.js.map
/global-ioc-charts/iocCharts.common.js
/global-ioc-charts/demo.html
/global-ioc-charts/iocCharts.umd.js
/global-ioc-charts/iocCharts.umd.js.map
/global-ioc-charts/归档.zip
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/zip